.ant-pagination-item {
border: none;
 background-color: #E5E5E5;
}
.ant-pagination-item-active {
 background-color: #1890FF;
 border-radius: 6px;
}
.ant-pagination-item-active a {
 color: white;
}
ant-pagination-item-active:hover a {
 color: white;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
 background-color: #E5E5E5;
 border: none;
 outline: none;
 transition: all 0.3s;
}

.pagination {
  display: flex;
 justify-content: center;
}
